modules = ["ruby-3.2", "swift-5.8"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["flutter329", "dart"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"
